@using RenewUp.Rpg.Serviço.Blazor.Componentes.Carregamento
@typeparam T;

<RenewUp.Rpg.Serviço.Blazor.Componentes.Carregamento.IndicadorDeCarregamento @ref="indicadorDeCarregamento" />

<input type="text" @bind-value="@Pesquisa" />

<ol>
    @foreach (var registro in Registros)
    {
        <li>@registro</li>
    }
</ol>