@using RenewUp.Rpg.Serviço.Blazor.Componentes.Carregamento
@typeparam T;

@if (@IndicadorDeCarregamento is null)
{
    <IndicadorDeCarregamento @ref="IndicadorDeCarregamento" />
}

<input type="text" @bind-value="@Pesquisa" />

<ol>
    @foreach (var registro in Registros)
    {
        <li>@registro</li>
    }
</ol>