@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="base-do-sistema">
            <div class="main-content">
                @Body
            </div>

            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="top-row header" />
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirecionarParaOLogin />
    </NotAuthorized>
</AuthorizeView>
