.TamanhosDoComponente {
    height: 2.75rem;
    width: 6.125rem;
    position: relative; 
}

[type=checkbox] {
    display: none;
}

.check-label {
    display: block;
    height: 100%;
    border-radius: 1.5rem;
    background: #d7d7d7;
    cursor: pointer;
}

    .check-label .face {
        display: block;
        position: absolute;
        top: 0.225rem;
        right: 3.625rem;
        width: 2.25rem;
        height: 2.25rem;
        border: none;
        border-radius: 1.5rem;
        background: linear-gradient(45deg, #dedede 0%, #fff 70%);
        transition: all 0.45s ease-in-out;
    }

[type=checkbox] + .check-label #background {
    width: inherit;
    height: inherit;
    border: none;
    border-radius: inherit;
    background: linear-gradient(to left, #f39ab6, #f39af3);
    opacity: 0;
    transition: all 0.45s ease-in-out;
}

[type=checkbox]:checked + .check-label #background {
    opacity: 1;
}

.face-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.face {
    box-shadow: 0 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 100%;
}

.eye {
    position: absolute;
    top: 1.125rem;
    height: 0.125rem;
    width: 0.3125rem;
    background: #8e8e8e;
    border-radius: 0 0 100% 50%;
}

    .eye.left {
        left: 0.1875rem;
    }

    .eye.right {
        left: 1.0625rem;
    }

.mouth {
    position: absolute;
    top: 1.5625rem;
    left: .725rem;
    width: .2375rem;
    height: 0.125rem;
    background: #8e8e8e;
    border-radius: 40% 40% 100% 50%;
}

[type=checkbox]:checked + .check-label .face {
    right: 0.3rem;
}

    [type=checkbox]:checked + .check-label .face .face-container {
        animation: rotateElement forwards 0.3s;
    }

    [type=checkbox]:checked + .check-label .face .eye.left, [type=checkbox]:checked + .check-label .face .eye.right {
        animation: changeFace forwards 0.3s 0.075s;
    }

    [type=checkbox]:checked + .check-label .face .mouth {
        animation: changeMouth forwards 0.3s 0.075s;
    }

    [type=checkbox]:checked + .check-label .face .eye.left {
        left: 0.5rem;
    }

    [type=checkbox]:checked + .check-label .face .eye.right {
        left: 1.25rem;
    }

[type=checkbox] + .check-label .face .face-container {
    animation: rotateElementReverse forwards 0.3s;
}

[type=checkbox] + .check-label .face .eye.left, [type=checkbox] + .check-label .face .eye.right {
    animation: changeFaceReverse forwards 0.3s;
}

[type=checkbox] + .check-label .face .mouth {
    animation: changeMouthReverse forwards 0.3s;
}

@keyframes rotateElement {
    0% {
        left: 0;
    }

    25% {
        left: 2rem;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        left: -2rem;
    }

    90% {
        opacity: 1;
    }

    100% {
        left: 0.5rem;
        opacity: 1;
    }
}

@keyframes changeFace {
    100% {
        top: .85rem;
        width: 0.1875rem;
        height: 0.1875rem;
        background: #8e8e8e;
        border: none;
        border-radius: 100%;
    }
}

@keyframes changeMouth {
    100% {
        top: 1.275rem;
        left: .5625rem;
        height: .3215rem;
        width: .8125rem;
        background: #8e8e8e;
        background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
        border-radius: 0.2rem 0.2rem 1rem 1rem;
    }
}

@keyframes rotateElementReverse {
    0% {
        left: 0;
    }

    25% {
        left: -2rem;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        left: 2rem;
    }

    90% {
        opacity: 1;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes changeFaceReverse {
    0% {
        top: .85rem;
        width: 0.1875rem;
        height: 0.1875rem;
        border: none;
        border-radius: 100%;
        background: #8e8e8e;
    }
}

@keyframes changeMouthReverse {
    0% {
        top: 1.275rem;
        left: .45rem;
        height: .3125rem;
        width: .8125rem;
        background: #8e8e8e;
        background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
        border: none;
        border-radius: 0.2rem 0.2rem 1rem 1rem;
    }

    25% {
        left: .5626rem;
    }
}
