@page "/"
@using AutoMapper
@using RenewUp.Rpg.Dominio.Atributos
@using RenewUp.Rpg.Dominio.Repositorios
@using SkyInfo.Infra.Armazenamento.Abstracoes.Dao
@using SkyInfo.Infra.Armazenamento.Abstracoes.Id

<h1>Olá! 2</h1>

<IndicadorDeCarregamento @ref="indicadorDeCarregamento">
    <EditForm Model=@teste>
        <InicializadorDoContexto IndicadorDeCarregamento="@indicadorDeCarregamento" />
        <Listagem T=Teste></Listagem>
        <RenewUp.Rpg.Serviço.Blazor.Componentes.Manutenção.CadastroRápido T=Teste Exibir=true>
            <label>@teste.Id : @teste.Descricao</label>
        </RenewUp.Rpg.Serviço.Blazor.Componentes.Manutenção.CadastroRápido>
    </EditForm>
</IndicadorDeCarregamento>

@code {
    public IndicadorDeCarregamento indicadorDeCarregamento;
    private Teste teste;

    [Inject]
    public IDao Dao { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var teste2 = new Teste()
        {
            Id = Guid.NewGuid().ToString(),
            Descricao = "abc"
        };
        await Dao.AdicionarAsync(teste2);
        await Dao.SaveChangesAsync();

        teste = new Teste()
        {
            Id = teste2.Id
        };
    }

    [AutoMap(typeof(Teste))]

    public class Teste : IId
    {
        [Filtro]
        public string Id { get; set; }
        public string Descricao { get; set; }

        public override string ToString() => Id + "-" + Descricao;
    }

    public class RepositorioDeTeste : RepositorioBase<Teste>
    {
        public RepositorioDeTeste(IDao dao) : base(dao)
        {
        }
    }
}